<%= form_with(model: alteration) do |form| %>
  <% if alteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alteration.errors.count, "error") %> prohibited this alteration from being saved:</h2>

      <ul>
        <% alteration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
