<h1>Tailors</h1>
      
    <ul>
    <% @tailors.each do |tailor| %>
        <h3><li><%= link_to tailor.name, tailor_path(tailor) %></h3>
        <p>Average Rating: <%=  %></p>
        
    <% end %>
    </ul>

<%= link_to 'New Tailor', new_tailor_path %>
