<h1>ABOUT TAILOR MAILER</h1>
<p>Devised by Danielle Leppert-Simenauer, Evelyn Hernandez, and Evan Fujita, Tailor Mailer connects you to a world of tailors! Simply enter your measurements, select a tailor, fill out an alteration form, and BINGO BANGO, you're ready to have your clothes fit like they've never fit before!</p>