/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: rgb(204, 184, 184);
  }

  h1 {
      color: rgb(0, 0, 0);
      word-spacing: 11px;
      font-family: Georgia;
      font-size: 35px
  }

  h2 {
      font-family: Georgia;
      font-size: 25px;
      color: rgb(54, 54, 54)

  }

  p {
      color:rgb(0, 0, 0)
  }

  /* unvisited link */
  a:link {
      color: rgb(0, 23, 128);

  }
  
/* mouse over link */
  a:hover {

  }

/* selected link */
a:active {
    color: blue;
  }

/* visited link */
  a:visited {
    color: rgb(44, 56, 230);
    background-color: rgb(255, 255, 255);

  }

  


