// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.login {
    background-image: url("background_3.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
  }